@model ProjectLink[]


<section>
    <div class="container">
        <div class="flex projects__two-card">

            <div class="app-design__projects  app-design__image projects__image-div margin-bottom-24px">
                <a asp-page="AppDesign">
                    <img src="/assets/home/desktop/image-app-design.jpg" class="projects__image " alt="">
                    <div class="projects__overlay--dark projects__overlay--small projects__overlay--peach"></div>
                    <div class="projects__textbox projects__textbox-app">
                        <h1 class="projects__title mobile-title">
                            App Design
                        </h1>
                        <p class="projects__description">
                            View Projects <img src="/assets/shared/desktop/icon-right-arrow.svg "
                                               class="projects__arrow" alt="">
                        </p>
                    </div>
                </a>

            </div>

            <div class="graphic-design__projects graphic-design__image projects__image-div margin-left-30">
                <a asp-page="GraphicDesign">
                    <img src="/assets/home/desktop/image-graphic-design.jpg" class="projects__image" alt="">
                    <div class="projects__overlay--dark projects__overlay--small projects__overlay--peach"></div>
                    <div class="projects__textbox projects__textbox-graphic">
                        <h1 class="projects__title mobile-title">
                            Graphic Design
                        </h1>
                        <p class="projects__description">
                            View Projects <img src="/assets/shared/desktop/icon-right-arrow.svg"
                                               class="projects__arrow" alt="">
                        </p>
                    </div>
                </a>

            </div>

        </div>
    </div>
</section>