<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/site.css">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/index.html"><img src="/assets/shared/desktop/logo-dark.png" alt="logo"></a>
            </div>
            <button class="hamburger__button">
                <img src="/assets/shared/mobile/icon-hamburger.svg" alt="icon-hamburger" class="hamburger__image open">
                <img src="/assets/shared/mobile/icon-close.svg" alt="hamburger-close" class="hamburger__image close">

            </button>
            <ul class="menu">
                <li class="underline"><a asp-page="About">Our Company</a></li>
                <li class="underline"><a asp-page="Locations">Locations</a></li>
                <li class="underline"><a asp-page="Contact">Contact</a></li>
            </ul>
        </nav>
    </div>

    @RenderBody()

    <footer class="@ViewBag.FooterClass">
        <div class="container">
            <div class="footer__content flex flex-column-mobile">
                <div>
                    <a href="/index.html">
                        <img src="/assets/shared/desktop/logo-light.png" alt="logo" class="footer__logo">
                    </a>
                </div>
                <div>
                    <ul class="flex footer__icons flex-column-mobile">
                        <li>
                            <a class="footer__links underline" href="/src/Pages/about.html">Our company</a>
                        </li>
                        <li>
                            <a class="footer__links underline" href="/src/Pages/locations.html"> Locations</a>
                        </li>
                        <li>
                            <a class="footer__links underline" href="/src/Pages/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="line">
            </div>
            <div class="footer__bottom flex flex-column-mobile">
                <div class="footer__contact">
                    <p>
                        Designo Central Office<br>
                        <span>
                            3886 Wellington Street<br>
                            Toronto, Ontario M9C 3J5
                        </span>
                    </p>
                </div>
                <div class="footer__contact footer__contact--left">
                    <p>
                        Contact Us (Central Office)<br>
                        P : +1 253-863-8967<br>
                        M : contact@designo.com
                    </p>
                </div>
                <div class="footer__icons-box">
                    <ul class="footer__icons flex ">
                        <li>
                            <a href="#">
                                <img src="/assets/shared/desktop/icon-facebook.svg" alt="icon-facebook"
                                     class="socials" />
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/shared/desktop/icon-youtube.svg" alt="icon-youtube" class="socials" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/shared/desktop/icon-twitter.svg" alt="icon-twitter" class="socials" /></a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/assets/shared/desktop/icon-pinterest.svg" alt="icon-pinterest"
                                     class="socials" />
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="/assets/shared/desktop/icon-instagram.svg" alt="icon-instagram" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/site.js"></script>
</body>
</html>
