@page "/contact-us"

@model Designo_MultiPage.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
    ViewBag.FooterClass = "footer__contact-page";
}

<section class="contact-section">
    <div class="container">
        <div class="contact-us__card flex flex-column">
            <div class="contact-us__textbox">
                <h1 class="contact-us__title">Contact Us</h1>
                <p>
                    Ready to take it to the next level? Let’s talk about your project or idea and find out how we can help your
                    business grow. If you are looking for unique digital experiences that’s relatable to your users, drop us a
                    line.
                </p>
            </div>
            <div class="contact-us__form">
                <form id="contact-form">
                    <div class="form-item">
                        <label for="name"></label>
                        <input type="text" id="name" placeholder="Name">
                        <p class="italic">Can't be empty</p>
                    </div>

                    <div class="form-item">
                        <label for="email"></label>
                        <input type="email" id="email" placeholder="Email Address">
                        <p class="italic">Email invalid</p>
                    </div>

                    <div class="form-item">
                        <label for="Phone"></label>
                        <input type="text" id="phone" placeholder="Phone">
                        <p class="italic">Can't be empty</p>
                    </div>

                    <div class="form-item">
                        <label for="textarea"></label>
                        <textarea placeholder="Your Message" name="Message" id="message" cols="3" rows="3"></textarea>
                        <p class="italic">Can't be empty</p>
                    </div>
                    <button class="btn contact__btn-left" id="submit" type="submit" form="contact-form">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="flex-row flex-column location-center">
            <div class="  location__card">
                <img src="~/assets/shared/desktop/illustration-canada.svg" class="skills__img location__image" alt="" />
                <h3 class="skills__title location__title">Canada</h3>
                <form method="get" action="/src/Pages/locations.html">
                    <button type="submit" class="btn btn-peach">see location</button>
                </form>
            </div>

            <div class=" location__card">
                <img src="~/assets/shared/desktop/illustration-australia.svg" class="skills__img location__image" alt="" />
                <h3 class="skills__title location__title">australia</h3>
                <form method="get" action="/src/Pages/locations.html">
                    <button type="submit" class="btn btn-peach">see location</button>
                </form>
            </div>

            <div class="location__card">
                <img src="~/assets/shared/desktop/illustration-united-kingdom.svg" class="skills__img location__image"
                     alt="" />
                <h3 class="skills__title location__title">united kingdom</h3>
                <form method="get" action="/src/Pages/locations.html">
                    <button type="submit" class="btn btn-peach">see location</button>
                </form>
            </div>
        </div>

    </div>
</section>


