@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<section class="section__card">

    <div class="container">

        @await Html.PartialAsync("_Hero", Model.Hero)

        @await Html.PartialAsync("_Projects")

    </div>

    <section class="section__skills">
        <div class="container">
            <div class="flex-row flex-column skills">
                <div class="gap skills__card">
                    <div>
                        <img src="/assets/home/desktop/illustration-passionate.svg" class="skills__img" alt="" />
                    </div>
                    <div class="skills__textbox">
                        <h3 class="skills__title">Passionate</h3>
                        <p class="skills__description">
                            Each project starts with an in-depth brand research to ensure we only create products that serve a
                            purpose.
                            We merge
                            art, design, and technology into exciting new solutions.
                        </p>
                    </div>
                </div>

                <div class="gap skills__card">
                    <div>
                        <img src="/assets/home/desktop/illustration-resourceful.svg" class="skills__img" alt="" />
                    </div>

                    <div class="skills__textbox">
                        <h3 class="skills__title">Resourceful</h3>
                        <p class="skills__description">
                            Everything that we do has a strategic purpose. We use an agile approach in
                            all
                            of our projects and value
                            customer
                            collaboration. It guarantees superior results that fulfill our clients’ needs.
                        </p>
                    </div>
                </div>

                <div class="skills__card">
                    <div>
                        <img src="/assets/home/desktop/illustration-friendly.svg" class="skills__img" alt="" />
                    </div>
                    <div class="skills__textbox">
                        <h3 class="skills__title">Friendly</h3>
                        <p class="skills__description">
                            We are a group of enthusiastic folks who know<br> how to put people first.
                            Our
                            success depends on our
                            customers,
                            and we
                            strive to give them the best experience a company can provide.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        @await Component.InvokeAsync(nameof(Contact));
    </section>

</section>
